body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-200px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:740px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:64px;
  -moz-box-shadow:-64px 64px 64px rgba(0, 0, 204, 0.0784313725490196), 0px 0px 24px 0px rgba(58, 61, 90, 0.156862745098039) inset;
  -webkit-box-shadow:-64px 64px 64px rgba(0, 0, 204, 0.0784313725490196), 0px 0px 24px 0px rgba(58, 61, 90, 0.156862745098039) inset;
  box-shadow:-64px 64px 64px rgba(0, 0, 204, 0.0784313725490196), 0px 0px 24px 0px rgba(58, 61, 90, 0.156862745098039) inset;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:100px;
  width:340px;
  height:740px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:122px;; border-radius: 30px;;
  width:230px;
  height:408px;
  overflow:hidden;
}
#u71_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u71_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
  opacity:0.4;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:196px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u71_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
  opacity:0.4;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:196px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u71_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
  opacity:0.4;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:196px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u71_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
  opacity:0.4;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:196px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u71_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
  opacity:0.4;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:196px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u71_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
  opacity:0.4;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:196px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:122px;; border-radius: 30px;;
  width:320px;
  height:695px;
  overflow:hidden;
}
#u84_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:695px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u84_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:695px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:695px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:695px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u84_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:695px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:695px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:695px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u84_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:695px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:695px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:695px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u84_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:695px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:695px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:695px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u84_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:695px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:695px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:695px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u84_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:695px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:695px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:342px;
  width:230px;
  height:408px;
  overflow:hidden;
}
#u97_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u97_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
  opacity:0.4;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:196px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u97_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
  opacity:0.4;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:196px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u97_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
  opacity:0.4;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:196px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u97_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
  opacity:0.4;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:196px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u97_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
  opacity:0.4;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:196px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u97_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:408px;
  opacity:0.4;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:196px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:408px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:342px;
  width:110px;
  height:408px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:196px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:408px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:122px;; border-radius: 30px;;
  width:110px;
  height:408px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u113 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:196px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:10px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:787px;
  width:156px;
  height:10px;
  opacity:0.08;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:10px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:787px;
  width:26px;
  height:10px;
  opacity:0.08;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:fixed;
  right:0px;
  bottom:0px;
  width:334px;
  height:50px;
  overflow:hidden;
}
#u118_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u118_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  text-align:right;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:0px;
  width:138px;
  height:13px;
  opacity:0.56;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  text-align:right;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:21px;
  width:307px;
  height:12px;
  opacity:0.32;
  font-size:9px;
  text-align:right;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u123 {
  position:fixed;
  left:40px;
  top:0px;
}
#u123_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
  background-image:none;
}
#u123_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
